<div class="wrapper">
    <header>
        <nav class="nav_Bar container navbar navbar-expand-lg navbar-primary|secondary|success|danger|warning|info|light|dark bg-primary|secondary|success|danger|warning|info|light|dark">
            <a class="navbar-brand logo_tieude" href="<%= root_path %>">LangCoBeach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars icon_bar"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= root_path %>">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="<%= khachsan_path %>">KHÁCH SẠN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=".<%= tintuc_path %>">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= gioithieu_path %>">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= lienhe_path %>">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item search_nav_cha">
                        <div class="search">
                            <div class="nav-link">
                                <span>Tìm kiếm</span>
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="form_search_navbar flex-row">
                            <%= form_tag(search_path, method: :get) do   %>
                            <%= text_field_tag :text,"", class:'form-control', required: 'true' %>
                            <div class="icon_search_navbar">
                                <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
                            </div>
                            <% end %>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="<%= list_order_path %>">
                            <div class="giohang">
                                <div class="nav-link">
                                    <span>Đơn hàng</span>
                                    <i class="fa fa-shopping-bag"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <% if session[:username] %>
                        <%= link_to 'logout', :action => 'go' do %>
                        <div class="giohang dangnhap">
                            <div class="nav-link">
                                <span id="username"> <%= session[:username] %></span>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                        </div>
                        <% end %>
                        <% else %>
                        <%= link_to 'login', :action => 'go' do %>
                        <div class="giohang dangnhap">
                            <div class="nav-link">
                                <span id="username"> Đăng nhập</span>
                                <i class="fas fa-sign-in-alt"></i>
                            </div>
                        </div>
                        <% end %>
                        <% end %>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- Ket thuc header -->
    <div class="dieuhuong">
        <div class="container">
            <div class="trai col-lg-6">
                <span class="trai1"><a href="<%= root_path %>">TRANG CHỦ</a></span>
                <span class="trai2">/</span>
                <span class="trai3">KHÁCH SẠN</span>
            </div>
        </div>
    </div>

    <div class="maindt">
        <div class="container">
            <div class="row">
                <div class="sec_trai col-lg-7">
                    <%= image_tag(@product.image.url, alt: 'Image') if @product.image? %>
                </div>
                <div class="sec_phai col-lg-5">
                    <div class="tieude">
                        <h3><%= @product.name %></h3>
                    </div>
                    <div class="is-divider small"></div>
                    <div class="gia">
                        <h4><%= number_to_currency(@product.price_discount, unit: "đ",format: "%n %u", precision: 0)  %></h4>
                    </div>
                    <div class="gioithieu">
                        <%= raw(@product.desc)%>
                    </div>
                    <div class="datngay1">
                        <% if session[:username]  %>
                        <input type="button" value="ĐẶT NGAY" id="btn_dat_phong" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                        <% else%>
                        <a href="<%= login_path %>">
                            <span class="badge badge-info">Đăng nhập để đặt phòng</span>
                        </a>
                        <% end %>
                    </div>
                    <hr>
                    <div class="ghichu">
                        <p class="text-muted">Danh mục: <%= @product.danhmuc.category_name %></p>
                    </div>
                    <div class="lienket">
                        <p class="iconf">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"> <i class="fab fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram-square"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter-square"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Đã thêm vào giỏ hàng</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Vui lòng nhập thông tin của bạn</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <%= form_for:order,url: new_order_path do |f| %>
                    <p>Tên của bạn</p>
                    <%=f.text_field :name, class:'form-control', required: 'true' %>
                    <br>
                    <p>Email</p>
                    <%=f.email_field :email, class:'form-control', required: 'true' %>
                    <br>
                    <p>Thời gian đặt phòng</p>
                    <%=f.text_field :time, class:'form-control', id: "config-demo", required: 'true' %>
                    <br>
                    <p>Chọn loại phòng</p>
                    <%= f.select(:type_hotel, ["Single bed room", "Twin bed room", "Double bed room", "Triple bed room"], {}, { :class => 'form-control' }) %>
                    <br>
                    <p>Số điện thoại</p>
                    <%=f.text_field :phone, class:'form-control', required: 'true' %>
                    <br>
                    <p>Ghi chú</p>
                    <%=f.text_field :note, class:'form-control' %>
                    <br>
                    <%=f.hidden_field :user_id, class:'form-control', required: 'true', value: session[:customer_id] %>
                    <%=f.hidden_field :hotel_id, class:'form-control', required: 'true', value: @product.id %>
                    <%= f.submit "Gửi đi", class: 'btn btn-success' %>
                    <% end %>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
            <hr>
        </div>
    </div>


    <div class="thongtin">
        <div class="container">
            <div class="bon_nut">
                <ul class="list-unstyled">
                    <li class="active"><b class="btn btn-outline-warning">Mô tả</b></li>
                    <li><b class="btn btn-outline-warning">Thông tin bổ sung</b></li>
                    <li><b class="btn btn-outline-warning" id="danhgia"></i>Đánh giá</b></li>
                </ul>
            </div>
            <div class="bon_nd">
                <ul class="list-unstyled">
                    <li class="hien_len">
                        <div class="moi_dung">
                            <%= raw(@product.desc)%>
                        </div>
                    </li>
                    <li>
                        <div class="moi_dung">
                            <%= raw(@product.content)%>
                        </div>
                    </li>
                    <li>
                        <div class="moi_dung">
                            <div class="box_cmt">
                                <% if @comment %>
                                <%= render partial: "comments/index",  collection: @comments, as: "comment" %>
                                <% else %> 
                                Chưa có bình luận nào!
                                <% end %>
                            </div>


                            <%if session[:customer_id]%>
                            <div class="box_danhgia">
                                <p>Thêm đánh giá:</p>
                                <%= form_with model: Comment.new, local: false, id: "comment_form" do |form| %>
                                <%= form.text_field :content, class: 'form-control', id: "comment_text", required: true %>
                                <%= form.hidden_field :hotel_id, class: 'form-control', value: @product.id %>
                                <%= form.hidden_field :user_id, class: 'form-control', value: session[:customer_id]  %>
                                <%= form.submit "Gửi đi", class: 'btn_danhgia btn btn-outline-primary ml-2' %>
                                <% end %>
                            </div>
                            <% end %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% if @product.thuvienanh %>

    <div class="hinhanh container detail_slide mt-5">
        <h3 class="text-center">Thư viện ảnh</h3>
        <div class="carousel" data-flickity='{ "autoPlay": true }'>
            <% @product.thuvienanh.path.each do |p| %>
            <div class="carousel-cell">
                <%= image_tag(p.url, alt: 'Image', style: "width:100%") %>
            </div>
            <% end %>

        </div>
    </div>

    <% end %>

    <div class="othersp">
        <div class="container">
            <div class="tieude">
                <h3>SẢN PHẨM TƯƠNG TỰ</h3>
            </div>
            <div class="sanpham">
                <% if @product.danhmuc.sanpham
                        @relative = @product.danhmuc.sanpham.limit(4)
                 %>
                <% @relative.each do |item| %>
                <% if @product.id != item.id %>
                <div class="khoisp">
                    <div class="anh">
                        <%= image_tag(item.image.url, alt: 'Image') if item.image? %>
                    </div>
                    <div class="chitiet">
                        <p class="text-muted location"><%= item.danhmuc.category_name %></p>
                        <a href="<%= detail_path(:id => item.id) %>">
                            <p class="text-dark title"><%= item.name %></p>
                        </a>
                        <p class="gia">
                            <!-- <span class="text-primary truoc"><strike>1,500</strike></span> -->
                            <span class="text-primary sau"><%= number_to_currency(item.price, unit: "đ",format: "%n %u", precision: 0)  %></span></p>
                        <p class="gioithieu">
                            <%= raw(item.desc)%>
                        </p>
                    </div>
                </div>
                <% end %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <footer>
        <div class="tren">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 sec1">
                        <h3>Lang Co beach</h3>
                        <p>Mã số thuế: 031422xxx</p>
                        <p>Ngày cấp giấy phép: 01/01/2019</p>
                        <p>Ngày hoạt động: 01/01/2019</p>
                    </div>
                    <div class="col-lg-3 sec2">
                        <div class="tieude">
                            <h4>Liên Hệ</h4>
                        </div>
                        <div class="noidung">
                            <p><i class="fa fa-map-marker"></i><span> Trường đại học CNTT và TT Việt Hàn</span>
                            </p>
                            <p><i class="fa fa-phone"></i><span> 0336757208</span></p>
                            <p><i class="fa fa-envelope"></i><span> levantanald@gmail.com</span></p>
                            <p class="iconf">
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Facebook"> <i class="fab fa-facebook"></i></a>
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram"></i></a>
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 sec3">
                        <div class="tieude">
                            <h4>Tin tức</h4>
                        </div>
                        <div class="noidung">
                            <ul>
                                <li><a href="">Bản tin du lịch Việt</a></li>
                                <li><a href="">Cẩm nang du lịch</a></li>
                                <li><a href="">Tư vấn du lịch</a></li>
                                <li><a href="">Tuyển dụng du lịch</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 sec4">
                        <div class="tieude">
                            <h4>Tour phổ biến</h4>
                        </div>
                        <div class="noidung">
                            <%= image_tag "img/footter.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="duoi">
            <p>© All rights reserved. Thiết kế website NT_4rever</p>
        </div>
    </footer>


    <!-- end main -->
</div>

</div>
<span class="btn_top_a">
    <div class="btn_top" id="btn_top">
        <i class="fa fa-arrow-up"></i>
    </div>
</span>
<%= javascript_pack_tag 'index' %>
<%= javascript_pack_tag 'detail' %>
<%= javascript_pack_tag 'flickity' %>