
    <div class="wrapper">
        <header>
            <nav
                class="nav_Bar container navbar navbar-expand-lg navbar-primary|secondary|success|danger|warning|info|light|dark bg-primary|secondary|success|danger|warning|info|light|dark">
                <a class="navbar-brand logo_tieude" href="<%= root_path %>">LangCoBeach</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars icon_bar"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="<%= root_path %>">TRANG CHỦ <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= khachsan_path %>">KHÁCH SẠN</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="<%= dichvu_path %>">DỊCH VỤ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= tintuc_path %>">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= gioithieu_path %>">GIỚI THIỆU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= lienhe_path %>">LIÊN HỆ</a>
                        </li>
                         <li class="nav-item search_nav_cha">
                            <div class="search">
                                <div class="nav-link">
                                    <span>Search</span>
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="form_search_navbar flex-row">
                                <input type="text" name="" id="" class="form-control">
                                <div class="icon_search_navbar">
                                    <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="../html/giohang.html">
                                <div class="giohang">
                                    <div class="nav-link">
                                        <span>0đ</span>
                                        <i class="fa fa-shopping-bag"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <% if  session[:username] %>
                            <%= link_to 'logout' , :action=> 'go' do %>
                            <div class="giohang dangnhap">
                                <div class="nav-link">
                                    <span id="username"> <%= session[:username] %></span>
                                    <i class="fas fa-sign-out-alt"></i>
                                </div>
                            </div>
                            <% end %>
                            <% else %>
                            <%= link_to 'login' , :action=> 'go' do %>
                            <div class="giohang dangnhap">
                                <div class="nav-link">
                                    <span id="username"> Login</span>
                                    <i class="fas fa-sign-in-alt"></i>
                                </div>
                            </div>
                            <% end %>
                            <% end %>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <!-- Ket thuc header -->
        <div class="dieuhuong">
            <div class="container">
                <div class="trai col-lg-6">
                    <span class="trai1"><a href="<%= root_path %>">TRANG CHỦ</a></span>
                    <span class="trai2">/</span>
                    <span class="trai3">DỊCH VỤ</span>
                </div>
            </div>
        </div>

        <div class="mainks">
            <div class="container">
                <div class="row">
                    <div class="shop-sidebar col-lg-3">
                        <aside class="as1">
                            <span class="tieude">DANH MỤC SẢN PHẨM</span>
                            <div class="is-divider small"></div>
                            <div class="menusp">
                                <a href="<%= khachsan_path %>">
                                    <p>Khách sạn</p>
                                </a>
                                <a href="<%= dichvu_path %>">
                                    <p>Dịch vụ</p>
                                </a>

                            </div>
                        </aside>
                        
                    </div>
                    <div class="col-lg-9 sanpham">
                        <div class="khoisp">
                            <div class="nen">
                                <div class="anh">
                                 <%= image_tag "img/ks/angsana.jpg" %>
                            
                                </div>
                                <div class="chitiet">
                                    <p class="text-muted loaigiuong">GIƯỜNG ĐƠN - GIƯỜNG ĐÔI</p>
                                    <a href="<%= detail_path %>">
                                        <p class="text-dark title">Angsana Lang Co</p>
                                    </a>
                                    <p class="gia">
                                        <!-- <span class="text-primary truoc"><strike>1,500</strike></span> -->
                                        <span class="text-primary sau" itemid="2999000">2,999,000 đ</span></p>

                                    <p class="gioithieu">
                                        <strong>Trải nghiệm dịch vụ đẳng cấp thế giới ở Angsana Lang Co.</strong>
                                        Angsana Lang Co là resort hiện đại với nội thất đầy phong cách. Các chỗ nghỉ lắp
                                        máy điều hòa tại đây được cung cấp Wi-Fi miễn phí. Resort này có 2 nhà hàng và 1
                                        quầy bar cũng như spa và hồ bơi ngoài trời.
                                    </p>
                                    <p class="rank_star">
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="float-right text-muted small"><i class="fa fa-heart"></i> Đã xem
                                            <span id="count_view">120</span> </i></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="khoisp">
                            <div class="nen">
                                <div class="anh">
                                   <%= image_tag "img/ks/angsana.jpg" %>
                                </div>
                                <div class="chitiet">
                                    <p class="text-muted loaigiuong">GIƯỜNG ĐƠN - GIƯỜNG ĐÔI</p>
                                    <a href="<%= detail_path %>">
                                        <p class="text-dark title">Lang Co Beach Resort </p>
                                    </a>
                                    <p class="gia">
                                        <!-- <span class="text-primary truoc"><strike>1,500</strike></span> -->
                                        <span class="text-primary sau" itemid="5999000">5,999,000 đ</span></p>
                                    <p class="gioithieu">
                                        Với hồ bơi đẹp và rộng rãi ngoài trời cùng khu vực bãi biển riêng, Lang Co Beach
                                        Resort mang lại cho du khách một kỳ nghỉ thư giãn ở thị trấn Lăng Cô. Nơi nghỉ
                                        này còn có 2 nhà hàng, dịch vụ mát-xa và truy cập Wi-Fi miễn phí.
                                        <br>
                                        <strong>Lang Co Beach Resort đã chào đón khách từ Ngày 29 Tháng 10 Năm
                                            2013.</strong>
                                    </p>
                                    <p class="rank_star">
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="float-right text-muted small"><i class="fa fa-heart"></i> Đã xem
                                            <span id="count_view">120</span> </i></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="khoisp">
                            <div class="nen">
                                <div class="anh">
                                   <%= image_tag "img/ks/angsana.jpg" %>
                                </div>
                                <div class="chitiet">
                                    <p class="text-muted loaigiuong">GIƯỜNG ĐƠN - GIƯỜNG ĐÔI</p>
                                    <a href="<%= detail_path %>">
                                        <p class="text-dark title">Thanh Tam Resort</p>
                                    </a>
                                    <p class="gia">
                                        <!-- <span class="text-primary truoc"><strike>1,500</strike></span> -->
                                        <span class="text-primary sau" itemid="3999000">3,999,000 đ</span></p>
                                    <p class="gioithieu">
                                        Thanh Tâm Resort tọa lạc tại thị trấn Lăng Cô, cách Bãi biển Lăng Cô xinh đẹp
                                        chỉ vài bước. Nơi đây có khu vực bãi biển riêng, truy cập Wi-Fi miễn phí và các
                                        phòng đầy đủ tiện nghi.
                                        <br>
                                        <Strong>Thanh Tam Resort đã chào đón khách từ Ngày 21 Tháng 3 Năm 2014.</Strong>
                                    </p>
                                    <p class="rank_star">
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="float-right text-muted small"><i class="fa fa-heart"></i> Đã xem
                                            <span id="count_view">120</span> </i></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="khoisp">
                            <div class="nen">
                                <div class="anh">
                                   <%= image_tag "img/ks/angsana.jpg" %>
                                </div>
                                <div class="chitiet">
                                    <p class="text-muted loaigiuong">GIƯỜNG ĐƠN</p>
                                    <a href="<%= detail_path %>">
                                        <p class="text-dark title">Beach Resort Demo Khuyến Mãi Mùa Đông</p>
                                    </a>
                                    <p class="gia">
                                        <!-- <span class="text-primary truoc"><strike>1,500</strike></span> -->
                                        <span class="text-primary sau" itemid="20999000">20,999,000 đ</span></p>
                                    <p class="gioithieu">
                                        <strong>Khách sạn Victoria Demo Beach Resort</strong>
                                        &nbsp;gồm 57 bungalows được thiết kế theo phong cách những ngôi nhà mái
                                        tranh
                                        mộc
                                        mạc ở miền quê ẩn mình trong khu vườn nhiệt đới quyến rũ.
                                    </p>
                                    <p class="rank_star">
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="float-right text-muted small"><i class="fa fa-heart"></i> Đã xem
                                            <span id="count_view">120</span> </i></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="khoisp">
                            <div class="nen">
                                <div class="anh">
                                  <%= image_tag "img/ks/angsana.jpg" %>
                                </div>
                                <div class="chitiet">
                                    <p class="text-muted loaigiuong">GIƯỜNG ĐÔI</p>
                                    <a href="<%= detail_path %>">
                                        <p class="text-dark title">Beach Resort Demo Khuyến Mãi Mùa Đông</p>
                                    </a>
                                    <p class="gia">
                                        <!-- <span class="text-primary truoc"><strike>1,500</strike></span> -->
                                        <span class="text-primary sau" itemid="50999000">50,999,000 đ</span></p>
                                    <p class="gioithieu">
                                        <strong>Khách sạn Victoria Demo Beach Resort</strong>
                                        &nbsp;gồm 57 bungalows được thiết kế theo phong cách những ngôi nhà mái
                                        tranh
                                        mộc
                                        mạc ở miền quê ẩn mình trong khu vườn nhiệt đới quyến rũ.
                                    </p>
                                    <p class="rank_star">
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="yellow_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="black_star"><i class="fa fa-star"></i></span>
                                        <span class="float-right text-muted small"><i class="fa fa-heart"></i> Đã xem
                                            <span id="count_view">120</span> </i></span>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="btn_load col-lg-12 text-center">
                        <input type="button" value="Xem tất cả" class="btn btn-success button_load">
                    </div>
                </div>
            </div>
        </div>




         <footer>
            <div class="tren">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 sec1">
                            <h3>Lang Co beach</h3>
                            <p>Mã số thuế: 031422xxx</p>
                            <p>Ngày cấp giấy phép: 01/01/2019</p>
                            <p>Ngày hoạt động: 01/01/2019</p>
                        </div>
                        <div class="col-lg-3 sec2">
                            <div class="tieude">
                                <h4>Liên Hệ</h4>
                            </div>
                            <div class="noidung">
                                <p><i class="fa fa-map-marker"></i><span> Trường đại học CNTT và TT Việt Hàn</span>
                                </p>
                                <p><i class="fa fa-phone"></i><span> 0336757208</span></p>
                                <p><i class="fa fa-envelope"></i><span> levantanald@gmail.com</span></p>
                                <p class="iconf">
                                    <a href="" data-toggle="tooltip" data-placement="bottom" title="Facebook"> <i class="fab fa-facebook"></i></a>
                                    <a href="" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram"></i></a>
                                    <a href="" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 sec3">
                            <div class="tieude">
                                <h4>Tin tức</h4>
                            </div>
                            <div class="noidung">
                                <ul>
                                    <li><a href="">Bản tin du lịch Việt</a></li>
                                    <li><a href="">Cẩm nang du lịch</a></li>
                                    <li><a href="">Tư vấn du lịch</a></li>
                                    <li><a href="">Tuyển dụng du lịch</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 sec4">
                            <div class="tieude">
                                <h4>Tour phổ biến</h4>
                            </div>
                            <div class="noidung">
                                <%= image_tag "img/footter.png" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="duoi">
                <p>© All rights reserved. Thiết kế website NT_4rever</p>
            </div>
        </footer>


        <!-- end main -->
    </div>

</div>
<span  class="btn_top_a">
    <div class="btn_top" id="btn_top">
        <i class="fa fa-arrow-up"></i>
    </div>
</span>
    <%= javascript_pack_tag 'index' %>
    <%= javascript_pack_tag 'khachsan' %>