<div class="wrapper">
    <header>
        <nav class="nav_Bar container navbar navbar-expand-lg navbar-primary|secondary|success|danger|warning|info|light|dark bg-primary|secondary|success|danger|warning|info|light|dark">
            <a class="navbar-brand logo_tieude" href="<%= root_path %>">LangCoBeach</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars icon_bar"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="<%= root_path %>">TRANG CHỦ <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="<%= khachsan_path %>">KHÁCH SẠN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= tintuc_path %>">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= gioithieu_path %>">GIỚI THIỆU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= lienhe_path %>">LIÊN HỆ</a>
                    </li>
                    <li class="nav-item search_nav_cha">
                        <div class="search">
                            <div class="nav-link">
                                <span>Search</span>
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="form_search_navbar flex-row">
                            <%= form_tag(search_path, method: :get) do   %>
                            <%= text_field_tag :text,"", class:'form-control', required: 'true' %>
                            <div class="icon_search_navbar">
                                <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
                            </div>
                            <% end %>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="../html/giohang.html">
                            <div class="giohang">
                                <div class="nav-link">
                                    <span>0đ</span>
                                    <i class="fa fa-shopping-bag"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <% if  session[:username] %>
                        <%= link_to 'logout' , :action=> 'go' do %>
                        <div class="giohang dangnhap">
                            <div class="nav-link">
                                <span id="username"> <%= session[:username] %></span>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                        </div>
                        <% end %>
                        <% else %>
                        <%= link_to 'login' , :action=> 'go' do %>
                        <div class="giohang dangnhap">
                            <div class="nav-link">
                                <span id="username"> Login</span>
                                <i class="fas fa-sign-in-alt"></i>
                            </div>
                        </div>
                        <% end %>
                        <% end %>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- Ket thuc header -->
    <div class="dieuhuong">
        <div class="container">
            <div class="trai col-lg-6">
                <span class="trai1"><a href="<%= root_path %>">TRANG CHỦ</a></span>
                <span class="trai2">/</span>
                <span class="trai3">KHÁCH SẠN</span>
            </div>
        </div>
    </div>

    <div class="mainks">
        <div class="container">
            <div class="row">
                <div class="shop-sidebar col-lg-3">
                    <aside class="as1">
                        <span class="tieude">DANH MỤC SẢN PHẨM</span>
                        <div class="is-divider small"></div>
                        <div class="menusp">
                            <% if @all_category %>
                            <% @all_category.each do |cate|%>
                            <a href="<%= khachsan_path(:id => cate.id) %>">
                                <p><%= cate.category_name%></p>
                            </a>
                            <% end %>
                            <% end %>
                        </div>
                    </aside>
                    <select class="form-control" id="change_number_item" aria-label="Default select example" style="width:140px">
                        <% if session[:show]%>
                        <option selected disabled>Hiển thị: <%= session[:show] %></option>
                        <% end %>
                        <option value="4">4 khách sạn</option>
                        <option value="6">6 khách sạn</option>
                        <option value="10">10 khách sạn</option>
                    </select>
                </div>
                <div class="col-lg-9 sanpham">
                    <% if @all_product %>
                    <% @all_product.each do |pro| %>
                    <% if pro.view==nil 
                        pro.view = 0
                        end
                    %>
                    <div class="khoisp">
                        <div class="nen">
                            <div class="anh">
                                <%= image_tag(pro.image.url, alt: 'Image') if pro.image? %>
                            </div>
                            <div class="chitiet">
                                <p class="text-muted loaigiuong"><%= pro.danhmuc.category_name %></p>
                                <a href="<%= detail_path(:id => pro.id) %>">
                                    <p class="text-dark title"><%= pro.name  %></p>
                                </a>
                                <p class="gia">
                                    <% if pro.price_discount==nil || pro.price_discount == pro.price %>
                                    <span class="text-primary sau" itemid="2999000"> <%= number_to_currency(pro.price, unit: "đ",format: "%n %u", precision: 0)  %></span></p>
                                <% else %>
                                <span class="text-primary truoc"><strike><%= number_to_currency(pro.price, unit: "đ",format: "%n %u", precision: 0)  %></strike></span>
                                <span class="text-primary sau" itemid="2999000"> <%= number_to_currency(pro.price_discount, unit: "đ",format: "%n %u", precision: 0)  %></span></p>
                                <% end %>
                                <p class="gioithieu">
                                    <%= raw(pro.desc)  %>
                                </p>

                                <p class="rank_star">
                                    <% @i=0 %>
                                    <% while @i < pro.rating do %>
                                    <span class="yellow_star"><i class="fa fa-star"></i></span>
                                    <% @i+=1 %>
                                    <% end %>
                                    <% while @i < 5 do %>
                                    <span class="black_star"><i class="fa fa-star"></i></span>
                                    <% @i+=1 %>
                                    <% end %>
                                    <span class="float-right text-muted small"><i class="fa fa-heart"></i> Đã xem
                                        <span id="count_view"><%= pro.view%></span> </i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% end %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="btn_load col-lg-12 text-center" style="display: flex;
    align-items: center;
    justify-content: center;">
                    <%== pagy_bootstrap_nav(@pagy) %>
                </div>
            </div>
        </div>
    </div>




    <footer>
        <div class="tren">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 sec1">
                        <h3>Lang Co beach</h3>
                        <p>Mã số thuế: 031422xxx</p>
                        <p>Ngày cấp giấy phép: 01/01/2019</p>
                        <p>Ngày hoạt động: 01/01/2019</p>
                    </div>
                    <div class="col-lg-3 sec2">
                        <div class="tieude">
                            <h4>Liên Hệ</h4>
                        </div>
                        <div class="noidung">
                            <p><i class="fa fa-map-marker"></i><span> Trường đại học CNTT và TT Việt Hàn</span>
                            </p>
                            <p><i class="fa fa-phone"></i><span> 0336757208</span></p>
                            <p><i class="fa fa-envelope"></i><span> levantanald@gmail.com</span></p>
                            <p class="iconf">
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Facebook"> <i class="fab fa-facebook"></i></a>
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram"></i></a>
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fab fa-twitter"></i></a>
                                <a href="" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fab fa-pinterest"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 sec3">
                        <div class="tieude">
                            <h4>Tin tức</h4>
                        </div>
                        <div class="noidung">
                            <ul>
                                <li><a href="">Bản tin du lịch Việt</a></li>
                                <li><a href="">Cẩm nang du lịch</a></li>
                                <li><a href="">Tư vấn du lịch</a></li>
                                <li><a href="">Tuyển dụng du lịch</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 sec4">
                        <div class="tieude">
                            <h4>Tour phổ biến</h4>
                        </div>
                        <div class="noidung">
                            <%= image_tag "img/footter.png" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="duoi">
            <p>© All rights reserved. Thiết kế website NT_4rever</p>
        </div>
    </footer>


    <!-- end main -->
</div>

</div>
<span class="btn_top_a">
    <div class="btn_top" id="btn_top">
        <i class="fa fa-arrow-up"></i>
    </div>
</span>
<%= javascript_pack_tag 'index' %>
<%= javascript_pack_tag 'khachsan' %>