 <h1 class="m-0 text-dark pb-2">Sản phẩm</h1>

 <div class="card-body">
     <% flash.each do |key, value| %>
     <div class="callout callout-<%= key %>">
         <p><%= value %></p>
     </div>
     <% end %>
 </div>
 <div class="row">
     <div class="col-12">
         <div class="card">
             <div class="card-header">
                 <a href="<%= new_product_path %>" class="btn btn-outline-info">Thêm sản phẩm</a>

                 <div class="card-tools">
                     <div class="input-group input-group-sm" style="width: 150px;">
                         <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                         <div class="input-group-append">
                             <button type="submit" class="btn btn-default">
                                 <i class="fas fa-search"></i>
                             </button>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- /.card-header -->
             <div class="card-body table-responsive p-0" style="height: 400px;">
                 <table class="table table-head-fixed text-nowrap">
                     <thead>
                         <tr>
                             <th>id</th>
                             <th>img</th>
                             <th>name</th>
                             <th>desc</th>
                             <th>price</th>
                             <th>category_id</th>
                             <th>updated_at</th>
                             <th>edit</th>
                         </tr>
                     </thead>
                     <tbody>
                         <% if @all_product %>
                         <% @all_product.each do |pro| %>
                         <tr>
                             <td>
                                 <%= pro.id  %>
                             </td>
                             <td>
                                 <%= image_tag(pro.image.url,style: "width:100px;", alt: 'Image') if pro.image? %>
                             </td>
                             <td>
                                 <%= pro.name  %>
                             </td>
                             <td class="text-wrap">
                                 <%= raw(pro.desc)  %>
                             </td>
                             <td>
                                 <%= number_to_currency(pro.price, unit: "đ",format: "%n %u", precision: 0)  %>
                             </td>
                             <td>
                                 <%= pro.category_hotels_id  %>
                             </td>
                             <td>
                                 <%= pro.updated_at %>
                             </td>
                             <td>
                                 <a href="<%= gallery_path(:id=>pro.id) %>" class="btn btn-sm btn-outline-success">
                                   <i class="fas fa-images"></i>
                                 </a>
                                 <a href="<%= delete_product_path(:id=>pro.id) %>" class="btn btn-sm btn-outline-danger" onclick='return confirm("Xóa danh mục này!");'>
                                     <i class="fas fa-trash"></i>
                                 </a>
                                 <a href="<%= edit_product_path(:id=>pro.id) %>" class="btn btn-sm btn-outline-warning">
                                     <i class="fas fa-edit"></i>
                                 </a>
                             </td>
                         </tr>
                         <% end %>
                         <% end %>
                     </tbody>
                 </table>
             </div>
             <div class="ml-2">
                 <%== pagy_bootstrap_nav(@pagy) %>
             </div>
             <!-- /.card-body -->
         </div>
         <!-- /.card -->
     </div>
 </div>